@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("resources\\wooden-plank-textured-background-material_53876-31378.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.top-header {
  display: flex;
  /* max-width: 1200px; */
  /* margin: 10px auto; */
  width: 100vw;
  /* margin-bottom: 20px; */
  padding: 16px;
  background-color: hsla(0, 0%, 19%, 0.514);
}

input {
  border: 0;
  /* border-radius: 10px; */
  /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
  /* margin: 10px; */
  /* display:block; */
  /* text-decoration: none;
  cursor: pointer;
  width: 100%; */
}

.fa-expand {
  position: absolute;
  right: 9%;
  top: 10px;
  cursor: pointer;
  transition: color, scale 100ms ease-out;
}

.fa-expand.selected {
  /* color:#5dcaca; */
  scale: 1.3;
}

.fa-square {
  /* float: right; */
  position: absolute;
  right: 3%;
  top: 10px;
  cursor: pointer;
  /* color: cyan; */
}

#main-space {
  width: 100%;
  height: 100%;
  /* display: grid; */
  overflow: hidden;
  /* align-items: center;
  justify-content: center; */
}

.fa-trash {
  position: absolute;
  padding: 100px 30px 100px 30px;
  top: 50%;
  left: 2%;
  opacity: 0;
  transition: all 300ms ease;
  z-index: -1;
}

.fa-trash:hover {
  scale: 1.3;
  cursor: pointer;
}

.photo-container {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  min-width: 100px;
  width: 40vw;
  resize: both;
  /* max-width: 45vw; */
  /* max-height: 400px; */
  border-radius: 2px;
  background-color: #fff;
  /* border: 5px 5px 10px 5px; */
  /* padding: 10px 10px 35px 10px; */
  padding: 5px 5px 5px 5px;
  /* padding: 0px; */
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
  /* resize: both; */
  overflow: hidden;

  transition: box-shadow 100ms ease-out, transform 100ms ease-out,
    padding 200ms ease-in-out, opacity 200ms ease-out, filter 200ms ease-out;
}

.photo-container.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

.no-frame {
  padding: 0px;
}

.on-top {
  z-index: 50;
}

.photo {
  display: block;
  position: relative;
  object-fit: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
